/* LoginForm.css */

.login-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    width: 300px; /* Set a fixed width */
    margin: auto; /* Center the form */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  h1 {
    color: #333333;
  }
  
  form {
    width: 100%; /* Make the form take full width of container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .form-group {
    width: 100%; /* Make the form group take full width of container */
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #666666;
  }
  
  input {
    width: calc(100% - 20px); /* Adjusted width to leave space for padding */
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #4caf50; /* Highlight the input on focus */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .submit-button.normal {
    transform: translateX(0); /* Move the button back to its normal position */
  }
  .submit-button:hover {
    background-color: #45a049;
  }
  
  /* Add the following styles for button movement effect */
  .submit-button.away {
    transform: translateX(50px); /* Move the button 50 pixels to the right */
  }
  
  /* Optional: Add transition effect for smooth movement */
  .submit-button.normal,
  .submit-button.away {
    transition: transform 0.3s ease;
  }